.App {
  text-align: center;
}

.App-header {
  height: 50vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  outline: 0;
  border: 0;
}

input[type="text"] {
  width: 15rem;
  padding: 8px 4px 6px 4px;
  font-size: 1rem;
  background: white;
  color: rgba(0,0,0,0.67);
  border-bottom: 1px solid grey
}

input[type="text"]:focus {
  border-bottom: 2px solid blue
}

input[type="submit"] {
  background: blue;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  margin-left: 1rem;
  width: 7rem;
  height: 2.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.dogs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.dog {
  width: 20rem;
  height: 20rem;
  background-size: cover;
  background-repeat: no-repeat;
}